@use "sass:string";

@function leftpad($str, $len, $ch) {
    @if($len <= string.length($str)) {
        @return $str;
    }
    $len: $len - string.length($str);
    $ch: if($ch == "", " ", $ch);
    @for $i from 1 through $len {
        $str: $ch + $str;
    }
    @return $str;
}